body {
   margin: 0;
   padding: 0;
}

* {
   font-family: 'Museo Sans Cyrl', sans-serif;
}

@import 'base/variables';

.container {
   /* Main contents placed in container */
   max-width: 950px;
   margin: 0 auto;
   position: relative;
}

.title {
   /* Title for blocks */
   font-size: calc(20px + 10 * ((100vw - 320px) / 1280));
   line-height: 24px;
   font-weight: 700;
   text-align: center;
   text-transform: uppercase;
}


/* First section */
@import 'blocks/promo'; /* Maine rules for the first section */
@import 'blocks/header'; /* Header in first section */
/* Second container */
@import 'blocks/advantages'; /* Maine rules for the second container */
/* Third container */
@import 'blocks/consultation'; /* Maine rules for the third container */
@import 'blocks/forms'; /* Maine rules for the forms + modal forms */
/* Fourth container */
@import 'blocks/slider'; /* Maine rules for the slider */
/* Fifth container */
@import 'blocks/product'; /* Maine rules for the product cards */
/* Sixth container */
@import 'blocks/review'; /* Maine rules for the review */
/* Sixth container */
@import 'blocks/footer'; /* Maine rules for the footer - map + address */
/* Rules for buttons */
@import 'blocks/buttons';
/* Modal window rules */
@import 'blocks/modal';
/* Media rules */
@import 'base/media';