body {
   margin: 0;
   padding: 0;
}

* {
   font-family: 'Museo Sans Cyrl', sans-serif;
}

@import 'base/variables';

.container {
   /* Main contents placed in container */
   max-width: 950px;
   margin: 0 auto;
   position: relative;
}

.title {
   /* Title for blocks */
   font-size: calc(20px + 4 * ((100vw - 320px) / 1280));
   line-height: 24px;
   font-weight: 700;
   text-align: center;
}

/* First section */
@import 'blocks/promo'; /* Maine rules for the first section */
@import 'blocks/header'; /* Header in first section */
@import 'blocks/buttons'; /* Rules for buttons */
/* Second container */
@import 'blocks/advantages'; /* Maine rules for the second container */
@import 'blocks/consultation';
@import 'blocks/forms';
@import 'blocks/slider';
@import 'blocks/product';
@import 'base/media';