.adv {
   padding: 70px 15px 80px 15px;
   min-height: 470px;
   background-color: #f6f6f6;
   &__items {
      margin-top: 65px;
      display: flex;
      justify-content: space-around;
   }
   &__item {
      text-align: center;
      max-width: 280px;
      justify-content: center;
      align-self: flex-start;
   }
   &__icon {
      display: inline-block;
      width: 70px;
      height: 70px;
      &__img {
         width: 100%;
         }
   }
   h3 {
      margin-top: 38px;
      font-size: calc(18px + 2 * ((100vw - 320px) / 1280));
      font-weight: 700;
      color: #0d0d0d;
   }
   &__desc {
      margin-top: 26px;
      font-size: calc(12px + 1 * ((100vw - 320px) / 1280));
      line-height: 16px;
      font-weight: 300;
   }
   a {
      color: #ff0000;
      text-decoration: underline;
   }
   .adv__icon_animated {
      animation: hearbeat 1.5s  ease;
      &:hover {
         animation-play-state: running;
         animation: hearbeat 1.5s ease infinite;
      }
   }
}

