.feed__form {
   display: flex;
   flex-direction: column;
   margin-top: 36px;
   width: 300px;
   input {
      height: 40px;
      padding: 0 20px;
      margin-top: 18px;
      font-weight: 300;
      font-size: 14px;
      border: none;
      border-radius: 5px;
      &:nth-child(3) {
         margin-bottom: 18px;
      }
      transition: 0.2s all;
      &:hover {
         box-shadow: 3px 3px 20px #ffffff75;
      }
   }
   &_modal {
      margin: 0 auto;
      padding-top: 35px;
      input {
         margin-bottom: 18px;
         &:nth-child(3) {
               margin-top: 18px;
            }
      }
   }
}
